<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.class }} Over the Years</title>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/screen.css" media="screen" />
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="scripts/avatars.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="heading-title text-center">
        <h3 class="text-uppercase">{{ site.class }} Over the Years</h3>
        <p class="p-top-30 half-txt">an Exercise to "git" to know one another</p>
        <p>
            <a href="https://github.com/it2045c/students#to-add-yourself">Add yourself!</a>
          </p>
      </div>
    </div>
  </div>

  {{ content }}
</body>

</html>
